html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
 

}
header{
display: flex;
    flex: 0 0 auto;
    background-color: rgba(100, 49, 13, 0.966);
    color: oldlace;
    font-size: larger;
    font-family: 'Pacifico', cursive;
    width: 100%;
    justify-content: space-between;
    
    
    
    
 }
 h1{
     margin-left: 10px;
     
 }
 .nav{
   flex: 0 0 auto;
   background:linear-gradient(rgb(100, 49, 13),rgba(82, 36, 3, 0.966))rgba(88, 40, 5, 0.966)
 }
.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column
    
    
  }
  footer {
    display: grid;
    flex: 0 0 auto;
background-color: moccasin;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;


  }
  
  .button{
    color: white;
    
      font-family: 'Pacifico', cursive;
      font-family: 'Rowdies', cursive;
       text-decoration: none;
      padding: .5em 2em;
      outline: none;
      border-width: 2px 0;
      border-style: solid none;
      border-radius: 6px;
      align-self: center;
      
      
      
    
    
  }
  #log{
    border-color: #d533fd #000 #d706cd;
    background: linear-gradient(#e00ff3, #e316e3) #cb16e3;

  }
 #log:hover { background: linear-gradient(#d800f5, #cc00f5) #c400f5; }
 #log:active { background: linear-gradient(#c400f5, #e100f5) #cc00f5; }
 #nwa{
  border-color: #3633fd #000 #1406d7;
  background: linear-gradient(#130ff3, #2b16e3) #3516e3;

}
#nwa:hover { background: linear-gradient(#007ff5, #004ef5) #3500f5; }
#nwa:active { background: linear-gradient(#006af5, #0400f5) #4ef500; }
#home{
  border-color: #4bfd33 #000 #41d706;
  background: linear-gradient(#3df30f, #57e316) #16e320;

}
#home:hover { background: linear-gradient(#258b05, #31ca02) #27c200; }
#home:active { background: linear-gradient(#1f8500, #41ca02) #26bd00; }


.anc{
  color: white;
    
      font-family: 'Pacifico', cursive;
      font-family: 'Rowdies', cursive;
       text-decoration: none;
      padding: .5em 2em;
      outline: none;
      border-width: 2px 0;
      border-style: solid none;
      border-radius: 6px;
      align-self: center;
      border-color: #4e0f0f #000 #4e1919;
      background:linear-gradient(rgb(100, 49, 13),rgba(82, 36, 3, 0.966))rgba(88, 40, 5, 0.966);
      margin: 0 5px;
      

}
.anc:hover { background: linear-gradient(#380b0b, #3f0e0e) #551919; }
.anc:active { background: linear-gradient(#2e0e12, #471212) #3d0d0d; }
.foot{
  margin:1% 10% 0 ;
  
}
h6{

  width: 100%;
margin-left: 80%;
margin-top: 15%;
 
}
h2{
  font-size: xx-large;
  width: 70%;
  font-style: italic;
 align-items: center;
 margin-left: 5%;
}
h3{font-size: x-large;
  width: 70%;
  font-style: italic;
 align-items: center;
 margin-left: 5%;

}
.cnt1{
  display: flex;
  width: 80%;
  margin-left: 5%;
  font-style: italic;
 justify-content: space-between;
}
h4{
  margin-left: 1%;
}
h5{
  width: 70%;
  font-style: italic;
 align-items: center;
 margin-left: 5%;
 font-size: medium;
}
.cnt2{
  display: flex;
  justify-content: space-between;
}
.cnt21{
  display: flex;
flex-direction: column;
width: 22%;
margin-left: 5%;
}
.cnt22{
  display: flex;
flex-direction: column;
width: 22%}
.cnt23{
  display: flex;
flex-direction: column;
width: 22%;
margin-right: 5%;
}
.imgc{border-radius: 90px;
  box-shadow: 0 0 0 3px green, 0 0 13px #333; 
}


#button {   
  display: inline-block;   
  background-color: #2c1c05;   
  width: 50px;   
  height: 50px;   
  text-align: center;   
  border-radius: 4px;   
  margin: 30px;   
  position: fixed;   
  bottom: 30px;   
  right: 30px;   
  transition: background-color .3s;   
  z-index: 1000; 
} 
#button:hover {   
  cursor: pointer;   
  background-color: #333; 
} 
#button:active {   
  background-color: #555; 
} 
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff; 
} 
.logreg{
  display: flex;
  flex-direction: column;
 align-self: center;
  margin-top:5%;

    border-color: rgb(75, 24, 9);
    border-style: double;
    padding: 20%;
    padding-top: 5%;
    font-family: 'Pacifico', cursive;
    background-color: rgba(100, 49, 13, 0.966);
    margin-bottom: 5%;
    color:white;
}
#li{
  width: 100%;
}
.valid{
  font-size:medium;
  color: white;
    
  font-family: 'Pacifico', cursive;
  font-family: 'Rowdies', cursive;
   text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 6px;
  align-self: center;
  border-color: #4e0f0f #000 #4e1919;
  background:linear-gradient(rgb(100, 49, 13),rgba(82, 36, 3, 0.966))rgba(88, 40, 5, 0.966);
}

@media only screen and (max-width : 992px) { 

  .cnt2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
   
  }
  .content{
    flex-direction: column;
    align-items:center;
  }
  .cnt2{
    margin-bottom: 5%;
  
  }
.imgc{
  margin-top: 5%;
  width: 300%;
  display: flex;
  
 
}
.cnt21{
  flex-direction: column;
  align-items: center;
  
}
.cnt22{
  flex-direction: column;
  align-items: center;
}
.cnt23{
  flex-direction: column;
  align-items: center;}
  .c{width: 200%;}
  .button{
    font-size: x-large;
    
  }
  header{
    height: 20%;
  }
  h1{
    align-self: center;
    margin-left: 40%;
    font-size: 400%;
  }
  
  .nav{
    height: 10%;
   display: flex;
   align-items: center;
  }
  .anc{font-size: xx-large;}
  #img1{
    margin-right: 5%;
    width: 500%;
  }
}
 

  
  
  

