body{
    background: linear-gradient(80deg,pink,#73e8ec);
}
main{
background: linear-gradient(45deg,rgb(238, 218, 131),rgb(173, 76, 31));
    width: 290px;
    height: 150px;
    border-radius: 10px ;
   
 margin:auto ;
 margin-top: 50px;
}
button{
    border: none;
    width: 5em; height: 5em;
    cursor: pointer
  

    

}


    

h3{
    text-align: center;
font-style: oblique;
}
span{
    color: yellow;
    font-size: 15px;
}
#res
{
    background: linear-gradient(45deg,rgb(238, 218, 131),rgb(173, 76, 31));
  margin-left: 40px;
    color:rgb(9, 255, 0);
    font-size: large;

   


}
#fig{
    background: linear-gradient(45deg,rgb(238, 218, 131),rgb(173, 76, 31));
  margin-left: 80px;
    color:rgb(9, 255, 0);
    font-size: large;
    

}
.box { text-align: center;}
   .centered { display: inline-block; margin: 0; }
   .chess-board { border-spacing: 0; border-collapse: collapse; }
   .chess-board th { padding: .5em; }
   .chess-board td { border: 1px solid; width: 4em; height: 4em; text-align: center; vertical-align: middle; }
   .chess-board .white { background: #f0d9b5; }
   .chess-board .black { background: #b58863; }
   #data{
   
    color:rgb(9, 255, 0);
    font-size: large;
   }
.out{
font-size: large;
color: indigo;
}
#img{
    display: none;
}
#check{
    display: none;
}
.white:hover{
    background: #cfb386
}
 
.black:hover{
    background:  #855c3b; 
}
  